In [1]:
import pandas as pd

# How to write csv files

In [2]:
pd.read_csv('D:\\Machine Learning\\data.csv')

   ID  class  study_hrs  sleeping_hrs  social_media  gaming  percent
0   1     10          2             9             3       5       50
1   2     10          6             8             2       0       80
2   3     10          3             8             2       4       60
3   4     11          0            10             1       5       45
4   5     11          4             7             2       0       75
5   6     11         10             7             0       0       96
6   7     12          4             6             0       0       80
7   8     12         10             6             2       0       90
8   9     12          2             8             2       4       60
9  10     12          6             9             1       0       85

# Every csv file is by default DataFrame..Here it is How?

In [3]:
df=pd.read_csv('D:\\Machine Learning\\data.csv')
df

   ID  class  study_hrs  sleeping_hrs  social_media  gaming  percent
0   1     10          2             9             3       5       50
1   2     10          6             8             2       0       80
2   3     10          3             8             2       4       60
3   4     11          0            10             1       5       45
4   5     11          4             7             2       0       75
5   6     11         10             7             0       0       96
6   7     12          4             6             0       0       80
7   8     12         10             6             2       0       90
8   9     12          2             8             2       4       60
9  10     12          6             9             1       0       85

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df.columns #for getting names of columns

Index(['ID', 'class', 'study_hrs', 'sleeping_hrs', 'social_media', 'gaming',
       'percent'],
      dtype='object')

AttributeError: 'DataFrame' object has no attribute 'rows'

In [8]:
df=pd.read_csv('D:\\Machine Learning\\data.csv',nrows=1) #for getting first row data
df

   ID  class  study_hrs  sleeping_hrs  social_media  gaming  percent
0   1     10          2             9             3       5       50

In [10]:
df=pd.read_csv('D:\\Machine Learning\\data.csv',usecols=[0,1]) #for getting first row data
df

   ID  class
0   1     10
1   2     10
2   3     10
3   4     11
4   5     11
5   6     11
6   7     12
7   8     12
8   9     12
9  10     12

In [11]:
df=pd.read_csv('D:\\Machine Learning\\data.csv',nrows=4) #for getting first row data
df

   ID  class  study_hrs  sleeping_hrs  social_media  gaming  percent
0   1     10          2             9             3       5       50
1   2     10          6             8             2       0       80
2   3     10          3             8             2       4       60
3   4     11          0            10             1       5       45

In [13]:
df=pd.read_csv('D:\\Machine Learning\\data.csv',index_col='ID') #for getting ID as index
df

    class  study_hrs  sleeping_hrs  social_media  gaming  percent
ID
1      10          2             9             3       5       50
2      10          6             8             2       0       80
3      10          3             8             2       4       60
4      11          0            10             1       5       45
5      11          4             7             2       0       75
6      11         10             7             0       0       96
7      12          4             6             0       0       80
8      12         10             6             2       0       90
9      12          2             8             2       4       60
10     12          6             9             1       0       85

In [14]:
df=pd.read_csv('D:\\Machine Learning\\data.csv',index_col='percent') #for getting percent as index
df

         ID  class  study_hrs  sleeping_hrs  social_media  gaming
percent
50        1     10          2             9             3       5
80        2     10          6             8             2       0
60        3     10          3             8             2       4
45        4     11          0            10             1       5
75        5     11          4             7             2       0
96        6     11         10             7             0       0
80        7     12          4             6             0       0
90        8     12         10             6             2       0
60        9     12          2             8             2       4
85       10     12          6             9             1       0